<div class="page-header">
    <div class="page-header-left">
        <div class="ph-title"><i class="bi bi-heart-pulse text-teal"></i> Patient's Chief Complaint</div>
        <div class="ph-sub-title">The primary reason for the visit.</div>
        <div class="ph-sub">Patient Name:
            <strong>
                {{ patientDetails?.patient?.firstName }}
                {{ patientDetails?.patient?.middleName }}
                {{ patientDetails?.patient?.lastName }}
            </strong>
        </div>
        <div class="ph-sub">Patient No: <strong>{{ patientDetails?.patient?.patientCode }} </strong></div>
        <div class="ph-sub">Appoint No: <strong>{{ patientDetails?.appointment?.appointmentNumber }} </strong></div>
    </div>
    <div class="page-header-right">
        <!-- <button class="btn btn-outline-info btn-sm" title="Vital History" (click)="vitalHistory()">
            <i class="bi bi-info-circle-fill"></i>
        </button> -->
    </div>
</div>
<div class="clinic-grid">
    <div class="clinic-card refined-card">
        <div class="card-body-segmented">
            <form [formGroup]="chiefComplaintForm">
                <div class="wz-form-row">
                    <div class="wz-form-group">
                        <label class="wz-label">
                            Complaint Note <span class="wz-req">*</span>
                        </label>

                        <div class="d-flex gap-2 align-items-start">
                            <input class="wz-input flex-grow-1" type="text" placeholder="Chief Complaint Note"
                                formControlName="complaint">

                            <button type="button" class="btn btn-primary" (click)="AddComplaint()">
                                <i class="bi bi-plus-lg"></i> Add
                            </button>
                        </div>

                        @if (chiefComplaintForm.get('complaint')?.invalid &&
                        chiefComplaintForm.get('complaint')?.touched) {
                        <small class="text-danger">
                            Complaint Note is required.
                        </small>
                        }
                    </div>
                </div>
            </form>
        </div>
        @if(chiefComplaintList.length>0){
        <div class="wards-grid">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Chief Complaint List</div>
                </div>
                <div class="card-body pt-0">
                    @for (complaint of chiefComplaintList; track complaint; let i = $index) {
                    <div class="room-row d-flex align-items-center justify-content-between p-2 mb-2">
                        <!-- <div><strong>{{complaint.complaint}}</strong></div> -->
                        <div>
                            <strong>{{complaint.complaint}}</strong>
                        </div>
                        <span class="status-pill available">{{complaint.createdAt | date : 'dd/MM/yyy'}}</span>
                        <button type="button" class="btn btn-sm btn-danger" (click)="removeComplaint(i, complaint)">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </div>
                    }
                </div>
                <!-- <div class="card-footer">
                    <button type="button" class="btn btn-primary w-100" (click)="SaveComplaint()">
                        Save
                    </button>
                </div> -->
            </div>
        </div>
        }
    </div>
</div>