<div id="page-clinic-list" class="page-section">
    <div class="page-header">
        <div class="page-header-left">
            <div class="ph-title">Booked Appointment View</div>
            <div class="ph-sub">List of Booked Appointments</div>
        </div>
        <div class="page-header-right d-flex gap-2">
            <select class="wz-select-green p-1 w-50" (change)="selectDoctor($event)" [(ngModel)]="doctorId">
                <option [ngValue]="null">Select Doctor</option>
                @for (doctor of doctorsList; track doctor._id) {
                <option [value]="doctor._id">
                    {{ doctor.firstName }} {{ doctor.lastName }}
                </option>
                }
            </select>
            <button class="btn btn-outline-primary btn-sm date-identifier">
                {{ displayRange }}
            </button>
            <div class="btn-group me-2">
                <button class="btn btn-outline-primary btn-sm" (click)="previousPeriod()">
                    <i class="bi bi-chevron-left"></i>
                </button>
                <button class="btn btn-outline-primary btn-sm" (click)="goToToday()">
                    Today
                </button>
                <button class="btn btn-outline-primary btn-sm" (click)="nextPeriod()">
                    <i class="bi bi-chevron-right"></i>
                </button>
            </div>
            <div class="btn-group">
                <button class="btn btn-sm" [class.btn-primary]="currentView === 'Day'"
                    [class.btn-outline-primary]="currentView !== 'Day'" (click)="changeView('Day')">
                    Day
                </button>
                <button class="btn btn-sm" [class.btn-primary]="currentView === 'Week'"
                    [class.btn-outline-primary]="currentView !== 'Week'" (click)="changeView('Week')">
                    Week
                </button>
                <button class="btn btn-sm" [class.btn-primary]="currentView === 'Month'"
                    [class.btn-outline-primary]="currentView !== 'Month'" (click)="changeView('Month')">
                    Month
                </button>
            </div>
            <button class="btn btn-primary btn-sm w-50" (click)="bookAppointment()">
                <i class="bi bi-calendar2-plus"></i> Book Appointment
            </button>
        </div>
    </div>
</div>
<div class="appt-row">
    <div class="appt-card">
        @if(currentView !== 'Month'){
        <daypilot-calendar #calendar [config]="config" [events]="events">
        </daypilot-calendar>
        }@else{
        <daypilot-month *ngIf="currentView === 'Month'" [events]="events" [config]="monthConfig">
        </daypilot-month>
        }
        <div class="view-all">
            @for (status of appointmentStatuses; track status) {
            <span class="appt-badge" [ngClass]="getAppointmentStatusClass(status)">
                {{ status }}
            </span>
            }
        </div>
    </div>
</div>

<app-right-sidebar #medicalSidebar></app-right-sidebar>


@if(clinicSelectionForm){
<div class="modal fade" id="ClinicSelectionModal" tabindex="-1">
    <form [formGroup]="clinicSelectionForm">
        <div class="modal-dialog modal-md modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title-head"> Clinic </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
                </div>
                <div class="modal-body p-2">
                    <div class="doctor-edit-form">
                        <div class="form-section">
                            <!-- <div class="section-title">Clinic By Doctors</div> -->
                            <div class="form-grid">
                                <div class="form-group">
                                    <!-- <label> Clinics <span class="text-danger">*</span> </label> -->
                                    <div class="input-wrap">
                                        <i class="bi bi-person-hearts input-icon"></i>
                                        <select class="form-select" formControlName="clinicId">
                                            <option [ngValue]="null"> Select Clinic </option>
                                            @for(clinic of clinicList; track clinic._id){
                                            <option [value]="clinic._id">
                                                {{clinic.clinicName}}
                                                <!-- [{{clinic.clinicType}} - {{clinic.registrationNumber}}] -->
                                            </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-flex align-items-center justify-content-around gap-2 border-0 mt-3">
                        <button type="button" class="btn btn-primary" type="submit" (click)="ChangeClinic()">
                            <span class="submit-text">Submit</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
}