.today-cell {
    background-color: #fff3cd !important;
    border          : 1px solid #ffc107 !important;
}

:host ::ng-deep .calendar_default_main>div:nth-child(2) {
    height: 600px !important;
}


.date-identifier {
    width: 450px;
}