<div id="page-doctor-profile-detail" class="page-section">
    <!-- Breadcrumb header -->
    <div class="page-header">
        <div class="page-header-left">
            <div class="breadcrumb-wrapper">
                <button class="btn btn-sm btn-icon-wrapper">
                    <i class="bi bi-chevron-left"></i> Prescription
                </button>
                /
                <span class="breadcrumb-sep">Patient Name : {{patientsDetails?.firstName}}
                    {{patientsDetails?.middleName}} {{patientsDetails?.lastName}}</span>
            </div>
            <div class="ph-title">Dr. {{doctorName}}</div>
        </div>
        <div class="header-actions">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="generateDummyPrescription()">
                <i class="bi bi-magic"></i> Generate Dummy Prescription
            </button>
            <button class="btn btn-primary btn-sm" (click)="submitPrescription();">
                <i class="bi bi-prescription2"></i>
                @if (isEdit) {
                Update Prescription
                } @else {
                Create Prescription
                }
            </button>
            <!-- More Dropdown -->
            <!-- <div class="header-dropdown">
                <button class="btn btn-sm btn-more-actions" type="button" (click)="isMoreMenuOpen = !isMoreMenuOpen">
                    <i class="bi bi-three-dots-vertical"></i>
                </button>
                @if(isMoreMenuOpen){
                <div class="header-dropdown-menu">
                    <button class="header-dropdown-item default">
                        <i class="bi bi-prescription"></i>
                        Write Prescription
                    </button>
                    <button class="header-dropdown-item">
                        <i class="bi bi-file-earmark-arrow-down"></i>
                        Download CV
                    </button>
                    <button class="header-dropdown-item">
                        <i class="bi bi-printer"></i>
                        Print Profile
                    </button>
                    <button class="header-dropdown-item">
                        <i class="bi bi-share"></i>
                        Share Profile
                    </button>
                    <div class="header-dropdown-divider"></div>
                    <button class="header-dropdown-item danger">
                        <i class="bi bi-trash"></i>
                        Delete Doctor
                    </button>
                </div>
                }
            </div> -->
        </div>
    </div>

    <!-- ── LEFT COLUMN ── -->
    <div class="dpd-layout">
        <div class="dpd-id-card">
            <div class="dpd-banner">
                <div class="dpd-banner-blob dpd-banner-blob-1"></div>
                <div class="dpd-banner-blob dpd-banner-blob-2"></div>
            </div>
            <div class="dpd-id-body">
                <div class="dpd-avatar-wrap">
                    <div class="dpd-avatar">
                        {{patientsDetails?.firstName?.charAt(0)}}{{patientsDetails?.lastName?.charAt(0)}}
                    </div>
                    <!-- <div class="dpd-status-badge">On Duty</div> -->
                </div>
                <div class="dpd-name">
                    {{patientsDetails?.firstName}}
                    {{patientsDetails?.middleName}}
                    {{patientsDetails?.lastName}}</div>
                <div class="dpd-spec">{{patientsDetails?.patientCode}}</div>
                <div class="dpd-id-row">
                    <i class="bi bi-gender-ambiguous"></i>
                    {{patientsDetails?.gender}}
                </div>
                <div class="dpd-id-row" style="margin-top:10px;">
                    <i class="bi bi-calendar-check-fill"></i>
                    <span>{{patientsDetails?.dateOfBirth | date :'mm/dd/yyyy'}}</span>
                </div>
                <div class="dpd-id-row">
                    <i class="bi bi-telephone-fill"></i>
                    <span>{{patientsDetails?.phone}}</span>
                </div>
                <div class="dpd-id-row">
                    <i class="bi bi-envelope-fill"></i>
                    <span>{{patientsDetails?.email}}</span>
                </div>
                <!-- <div class="dpd-id-row">
                    <i class="bi bi-calendar3"></i>
                    <span>Joined March 2013 · 12 years</span>
                </div> -->
                <div class="dpd-divider"></div>
                <!-- Action buttons -->
                <div class="dpd-action-btns" style="margin-top:16px;">
                    <button class="btn btn-primary">
                        <i class="bi bi-envelope-fill"></i>
                        Send Email
                    </button>
                    <button class="btn btn-outline-primary btn-sm">
                        <i class="bi bi-chat-dots"></i>
                        WhatsApp to Patient
                    </button>
                    <!-- <button class="btn"><i class="bi bi-file-earmark-person"></i> Download CV</button> -->
                </div>
            </div>
        </div>
        <!-- /left col -->
        <!-- ── RIGHT COLUMN ── -->
        <div class="dpd-right ">
            <form [formGroup]="prescriptionForm">
                <div class="flex-container">
                    <div class="card box">
                        <div class="card-header prescription-header">
                            <div class="header-content">
                                <div class="header-icon">
                                </div>
                                <div class="header-text">
                                    <h5 class="header-title">
                                        Diagnosis Information
                                    </h5>
                                    <span class="header-subtitle">
                                        Enter diagnosis, symptoms, medicines and treatment details
                                    </span>
                                </div>
                            </div>
                            <div class="header-actions">
                            </div>
                        </div>
                        <div class="wizard-body pt-2">
                            <div class="wizard-panel">
                                <div class="wz-form-row">
                                    <div class="wz-form-group m-0">
                                        <label class="wz-label">Diagnosis
                                            <span class="wz-req">*</span>
                                        </label>
                                        <textarea class="wz-input" rows="4" formControlName="diagnosis"
                                            placeholder="Enter Diagnosis"></textarea>
                                        <small class="text-muted d-block mb-2">
                                            Enter comma separated symptoms
                                        </small>

                                        <!-- Suggestion Tags -->
                                        <div class="pe-macros">
                                            <!-- <span class="pe-macro-pill">RRR S1 S2</span> -->
                                            @for (item of suggestions; track $index) {
                                            <span class="pe-macro-pill" (click)="addSuggestion(item)">+ {{ item.trim()
                                                }}</span>
                                            }
                                        </div>
                                        <!-- <div class="diagnosis-suggestions d-flex flex-wrap gap-1 mt-2">
                                            <span *ngFor="let item of suggestions"
                                                class="badge bg-light text-dark border suggestion-tag"
                                                (click)="addSuggestion(item)">
                                                + {{ item }}
                                            </span>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="wz-form-row">
                                    <div class="wz-form-group m-0">
                                        <div class="d-flex align-items-center justify-content-between p-2">
                                            <label class="wz-label">Symptoms
                                                <span class="wz-req">*</span>
                                            </label>
                                            <button type="button" class="btn btn-sm btn-primary" (click)="addSymptom()">
                                                Add Symptom
                                            </button>
                                        </div>
                                        <div formArrayName="symptoms">
                                            @for(symptom of symptoms.controls; track $index){
                                            <div class="d-flex align-items-center mb-2">
                                                <div class="input-wrap w-100">
                                                    <i class="bi bi-virus input-icon"></i>
                                                    <select class="form-select w-100" [formControlName]="$index">
                                                        <option value="" disabled selected>Select a symptom</option>
                                                        @for(group of symptomCategories; track group.category){
                                                        <optgroup [label]="group.category">
                                                            @for(item of group.symptoms; track item){
                                                            <option [value]="item">{{ item }}</option>
                                                            }
                                                        </optgroup>
                                                        }
                                                    </select>
                                                </div>
                                                <button type="button" class="btn btn-sm btn-danger ms-2"
                                                    (click)="removeSymptom($index)">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                            </div>
                                            }
                                        </div>

                                        <small class="text-muted d-block mt-1">
                                            Add symptoms one by one from the dropdown list.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card box">
                        <div class="card-header prescription-header">
                            <div class="header-content">
                                <div class="header-icon">
                                    <!-- <i class="bi bi-clipboard2-pulse"></i> -->
                                </div>
                                <div class="header-text">
                                    <h5 class="header-title">
                                        Additional Information
                                    </h5>
                                    <span class="header-subtitle">
                                        Enter diagnosis, symptoms, medicines and treatment details
                                    </span>
                                </div>
                            </div>
                            <div class="header-actions">
                            </div>
                        </div>

                        <div class="wizard-body pt-2">
                            <div class="wizard-panel">
                                <div class="wz-form-row">
                                    <div class="wz-form-group m-0">
                                        <label class="wz-label">Follow Up Date
                                            <span class="wz-req">*</span>
                                        </label>
                                        <input class="wz-input" type="date" placeholder="Write Notes"
                                            formControlName="followUpDate">
                                    </div>
                                    <div class="wz-form-group m-0">
                                        <label class="wz-label">Status
                                            <span class="wz-req">*</span>
                                        </label>
                                        <div class="input-wrap">
                                            <i class="bi bi-hand-thumbs-up-fill input-icon"></i>
                                            <select class="form-select" formControlName="status">
                                                <option value="Draft">Draft</option>
                                                <option value="Completed">Completed</option>
                                                <option value="Cancelled">Cancelled</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="wz-form-row">
                                    <div class="wz-form-group m-0">
                                        <label class="wz-label">Advice
                                            <span class="wz-req">*</span>
                                        </label>
                                        <textarea class="wz-input" placeholder="Write Advice" formControlName="advice"
                                            rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="wz-form-row">
                                    <div class="wz-form-group m-0">
                                        <label class="wz-label">Notes
                                            <span class="wz-req">*</span>
                                        </label>
                                        <textarea class="wz-input" placeholder="Write Notes" formControlName="notes"
                                            rows="5"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card box mt-3">
                    <div class="card-header prescription-header">
                        <div class="header-content">
                            <div class="header-icon">
                                <!-- <i class="bi bi-clipboard2-pulse"></i> -->
                            </div>
                            <div class="header-text">
                                <h5 class="header-title">
                                    Medicines
                                </h5>
                                <span class="header-subtitle">
                                    Enter medicines details
                                </span>
                            </div>
                        </div>
                        <div class="header-actions">
                            <button class="btn btn-sm btn-primary" (click)="addMedicine()">
                                <i class="bi bi-plus-circle"></i>
                                Add Medicine
                            </button>
                        </div>
                    </div>
                    <div class="wizard-body pt-2">
                        <div class="wizard-panel">
                            <div formArrayName="medicines">

                                <!-- ========================= -->
                                <!-- Medicines Header -->
                                <!-- ========================= -->
                                <div class="wz-form-row medicine-header p-0 m-0 d-flex">

                                    <div class="form-group">
                                        <label class="form-label">
                                            Medicine Name <span class="req">*</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">
                                            Dosage <span class="req">*</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">
                                            Frequency <span class="req">*</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">
                                            Duration <span class="req">*</span>
                                        </label>
                                    </div>
                                    <!-- Delete column header -->
                                    <div class="medicine-action-header">
                                        <label class="form-label">
                                            Action
                                        </label>
                                    </div>
                                </div>
                                <!-- ========================= -->
                                <!-- Medicines Rows -->
                                <!-- ========================= -->
                                @for(medicine of medicines.controls; track $index) {
                                <div class="wz-form-row medicine-row p-0 m-0 d-flex" [formGroupName]="$index">
                                    <!-- Medicine Name -->
                                    <div class="form-group">
                                        <div class="prescription-wrapper">
                                            <span class="prescription-icon">
                                                <i class="bi bi-capsule-pill"></i>
                                            </span>
                                            <select class="form-select prescription-input"
                                                formControlName="medicineName" (change)="onMedicineChange($event)"
                                                [class.is-invalid]="medicine.get('medicineName')?.invalid && medicine.get('medicineName')?.touched">
                                                <option [ngValue]="null">
                                                    Select Medicine
                                                </option>
                                                @for (med of medicineList; track med._id) {
                                                <option [value]="med.medicineName">
                                                    {{ med.medicineName }} -
                                                    {{ med.genericName }} -
                                                    {{ med.strength }} {{ med.unit }}
                                                </option>
                                                }
                                            </select>
                                            <span class="prescription-icon-end">
                                                <i class="bi bi-arrow-clockwise"></i>
                                            </span>
                                        </div>
                                        <!-- @if ( medicine.get('medicineName')?.invalid &&
                                        medicine.get('medicineName')?.touched
                                        ) {
                                        <div class="text-danger small mt-1">
                                            Medicine name is required.
                                        </div>
                                        } -->
                                    </div>
                                    <!-- Dosage -->
                                    <div class="form-group">
                                        <div class="prescription-wrapper">
                                            <span class="prescription-icon">
                                                <i class="bi bi-capsule-pill"></i>
                                            </span>
                                            <input type="number" class="form-input prescription-input"
                                                formControlName="dosage" placeholder="Dosage" min="0.01" max="9999"
                                                step="0.01"
                                                [class.is-invalid]="medicine.get('dosage')?.invalid && medicine.get('dosage')?.touched">
                                            <select class="form-select prescription-select" formControlName="dosageUnit"
                                                [class.is-invalid]="medicine.get('dosageUnit')?.invalid &&medicine.get('dosageUnit')?.touched">
                                                <option value=""> Unit </option>
                                                <option value="Tablet">Tablet</option>
                                                <option value="Capsule">Capsule</option>
                                                <option value="Drop">Drop</option>
                                                <option value="ml">ml</option>
                                                <option value="mg">mg</option>
                                                <option value="mcg">mcg</option>
                                                <option value="g">g</option>
                                                <option value="Unit">Unit</option>
                                                <option value="Puff">Puff</option>
                                            </select>
                                        </div>
                                        <!-- @if (medicine.get('dosage')?.hasError('required')
                                        && medicine.get('dosage')?.touched ) {
                                        <div class="text-danger small mt-1">
                                            Dosage is required.
                                        </div>
                                        } -->
                                        <!-- @if (
                                        medicine.get('dosage')?.hasError('min') &&
                                        medicine.get('dosage')?.touched
                                        ) {
                                        <div class="text-danger small mt-1">
                                            Dosage must be greater than 0.
                                        </div>
                                        } -->
                                        <!-- @if (
                                        medicine.get('dosageUnit')?.invalid &&
                                        medicine.get('dosageUnit')?.touched
                                        ) {
                                        <div class="text-danger small mt-1">
                                            Dosage unit is required.
                                        </div>
                                        } -->
                                    </div>
                                    <!-- Frequency -->
                                    <div class="form-group">
                                        <div class="prescription-wrapper">
                                            <span class="prescription-icon">
                                                <i class="bi bi-clock"></i>
                                            </span>
                                            <input type="number" class="form-input prescription-input"
                                                formControlName="frequency" placeholder="Frequency" min="1" max="24"
                                                [class.is-invalid]="medicine.get('frequency')?.invalid && medicine.get('frequency')?.touched">
                                            <select class="form-select prescription-select"
                                                formControlName="frequencyUnit"
                                                [class.is-invalid]="medicine.get('frequencyUnit')?.invalid && medicine.get('frequencyUnit')?.touched">
                                                <option value=""> Unit </option>
                                                <option value="Hours">Hours</option>
                                                <option value="Daily">Daily</option>
                                                <option value="Weekly">Weekly</option>
                                            </select>
                                        </div>
                                        <!-- @if (
                                        medicine.get('frequency')?.hasError('required') &&
                                        medicine.get('frequency')?.touched
                                        ) {
                                        <div class="text-danger small mt-1">
                                            Frequency is required.
                                        </div>
                                        }
                                        @if (
                                        medicine.get('frequency')?.hasError('min') &&
                                        medicine.get('frequency')?.touched
                                        ) {
                                        <div class="text-danger small mt-1">
                                            Frequency must be at least 1.
                                        </div>
                                        }
                                        @if (
                                        medicine.get('frequencyUnit')?.invalid &&
                                        medicine.get('frequencyUnit')?.touched
                                        ) {
                                        <div class="text-danger small mt-1">
                                            Frequency unit is required.
                                        </div>
                                        } -->
                                    </div>
                                    <!-- Duration -->
                                    <div class="form-group">
                                        <div class="prescription-wrapper">
                                            <span class="prescription-icon">
                                                <i class="bi bi-clock"></i>
                                            </span>
                                            <input type="number" class="form-input prescription-input"
                                                formControlName="duration" placeholder="Duration" min="1" max="999"
                                                [class.is-invalid]="medicine.get('duration')?.invalid && medicine.get('duration')?.touched">
                                            <select class="form-select prescription-select"
                                                formControlName="durationType"
                                                [class.is-invalid]="medicine.get('durationType')?.invalid && medicine.get('durationType')?.touched                        ">
                                                <option value=""> Unit </option>
                                                <option value="Days">Days</option>
                                                <option value="Weekly">Weekly</option>
                                            </select>
                                        </div>
                                        <!-- @if (
                                        medicine.get('duration')?.hasError('required') &&
                                        medicine.get('duration')?.touched
                                        ) {
                                        <div class="text-danger small mt-1">
                                            Duration is required.
                                        </div>
                                        }
                                        @if (
                                        medicine.get('duration')?.hasError('min') &&
                                        medicine.get('duration')?.touched
                                        ) {
                                        <div class="text-danger small mt-1">
                                            Duration must be at least 1.
                                        </div>
                                        }
                                        @if (
                                        medicine.get('durationType')?.invalid &&
                                        medicine.get('durationType')?.touched
                                        ) {
                                        <div class="text-danger small mt-1">
                                            Duration unit is required.
                                        </div>
                                        } -->
                                    </div>
                                    <!-- Delete -->
                                    <div class="medicine-action mb-3">
                                        <button type="button" class="btn btn-danger btn-sm"
                                            (click)="removeMedicine($index)">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card box mt-3">
                    <div class="card-header prescription-header">
                        <div class="header-content">
                            <div class="header-icon">
                                <!-- <i class="bi bi-clipboard2-pulse"></i> -->
                            </div>
                            <div class="header-text">
                                <h5 class="header-title">
                                    Investigations
                                </h5>
                                <span class="header-subtitle">
                                    Enter investigations details
                                </span>
                            </div>
                        </div>
                        <div class="header-actions">
                            <button class="btn btn-sm btn-primary" (click)="addInvestigation()">
                                <i class="bi bi-plus-circle"></i>
                                Add Investingation
                            </button>
                        </div>
                    </div>
                    <div class="wizard-body pt-2">
                        <div class="wizard-panel">
                            <div formArrayName="investigations">
                                @for(test of investigations.controls; track $index){
                                <div class="wz-form-row p-0 m-0 d-flex" [formGroupName]="$index">
                                    <div class="wz-form-group w-25 m-0">
                                        <label class="wz-label">Test Name
                                            <span class="wz-req">*</span>
                                        </label>
                                        <input class="wz-input" type="text" placeholder="Test Name"
                                            formControlName="testName">
                                    </div>
                                    <div class="wz-form-group w-75 m-0">
                                        <label class="wz-label">Remark
                                            <span class="wz-req">*</span>
                                        </label>
                                        <input class="wz-input" type="text" placeholder="Remarks"
                                            formControlName="remarks">
                                    </div>
                                    <div style="margin:25px 0px;">
                                        <button class="btn btn-danger btn-sm" (click)="removeInvestigation($index);">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </form>
        </div>
    </div>
</div>