<div id="page-patient-list" class="page-section">
  <div class="page-header">
    <div class="page-header-left">
      <div class="ph-title">Patient List</div>
      <div class="ph-sub">List of Registered Patients</div>
    </div>
    <div class="page-header-right d-flex gap-2">
      <button class="btn btn-outline-primary btn-sm" (click)="refresh()">
        <i class="bi bi-arrow-clockwise"></i>
      </button>
      <button class="btn btn-outline-primary btn-sm" (click)="openFilter()">
        <i class="bi bi-funnel"></i>Filter
      </button>
      <button class="btn btn-primary btn-sm" (click)="createPatient()">
        <i class="bi bi-plus-lg"></i> Create Patient
      </button>
      <!-- <div class="header-dropdown">
        <button class="btn btn-sm btn-more-actions" type="button" (click)="isMoreMenuOpen = !isMoreMenuOpen">
          <i class="bi bi-three-dots-vertical"></i>
        </button>
        @if(isMoreMenuOpen){
        <div class="header-dropdown-menu">
          <button class="header-dropdown-item default">
            <i class="bi bi-prescription"></i>
            Write Prescription
          </button>
          <button class="header-dropdown-item">
            <i class="bi bi-file-earmark-arrow-down"></i>
            Download CV
          </button>
          <button class="header-dropdown-item">
            <i class="bi bi-printer"></i>
            Print Profile
          </button>
          <button class="header-dropdown-item">
            <i class="bi bi-share"></i>
            Share Profile
          </button>
        </div>
        }
      </div> -->
    </div>
  </div>
  <div class="appt-row">
    <div class="appt-card">
      <table class="appt-table">
        <thead>
          <tr>
            <th></th>
            <th>Patient</th>
            <th>Aadhar Number</th>
            <th>Date of Birth</th>
            <th>Age</th>
            <th>Address</th>
            <th>Contact</th>
            <th>Status</th>
            <th>Created On</th>
            <th>Vital History</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          @if(patientsList.length > 0) {
          @for (patient of paginatedPatientList; track patient._id) {
          <tr
            [ngClass]="{'male-row': patient.gender === 'Male','female-row': patient.gender === 'Female', 'other-row': patient.gender === 'Other'}">
            <td>
              <div class="patient-name">
                @if(patient.gender === 'Male') {
                <i class="bi bi-gender-male gender-icon male"></i>
                }
                @else if(patient.gender === 'Female') {
                <i class="bi bi-gender-female gender-icon female"></i>
                }
                @else {
                <i class="bi bi-gender-ambiguous gender-icon other"></i>
                }
              </div>
            </td>
            <td>
              <div class="patient-cell">
                <div class="patient-avatar" style="background:linear-gradient(135deg,#0D9488,#38BDF8);">PT</div>
                <div>
                  <div class="patient-name">{{patient.firstName}}. {{patient.middleName}}. {{patient.lastName}}</div>
                  <div class="patient-id">#{{patient.patientCode}}</div>
                </div>
              </div>
            </td>
            <td>
              <div style="font-size:11px;color:var(--text-muted);">{{patient.aadhaarNumber}}</div>
            </td>
            <td>
              <div style="font-size:11px;color:var(--text-muted);">{{patient.dateOfBirth | date : 'dd/MM/yyyy'}}</div>
              <!-- <div style="font-size:11px;color:var(--text-muted);">Cardiologist</div> -->
            </td>
            <td>
              <div style="font-size:11px;color:var(--text-muted);">{{patient.age }}</div>
            </td>
            <td>
              <div style="font-size:11px;color:var(--text-muted);">{{patient.city}}</div>
              <div style="font-size:11px;color:var(--text-muted);">{{patient.state}}</div>
              <div style="font-size:11px;color:var(--text-muted);">{{patient.country}}</div>
            </td>
            <td>
              <div style="font-size:11px;color:var(--text-muted);">
                <i class="bi bi-envelope-at-fill"></i>
                <span class="px-2">{{patient.email}}</span>
              </div>
              <div style="font-size:11px;color:var(--text-muted);">
                <i class="bi bi-telephone-fill"></i>
                <span class="px-2">{{patient.phone}}</span>
              </div>
            </td>
            <td><span class="status-badge confirmed">{{patient.status}}</span></td>
            <td>
              <div style="font-size:11px;color:var(--text-muted);">{{patient.createdAt | date : 'dd/MM/yyyy'}}</div>
            </td>
            <td>
              <button class="action-btn" style="cursor:pointer;" [title]="'Vital History'"
                (click)="openVitalHistoryPopup(patient)">
                <i class="bi bi-clipboard2-pulse-fill"></i>
              </button>
            </td>
            <td>
              <button class="action-btn" [popover]="'Medical History'" placement="top" triggers="mouseenter:mouseleave"
                (click)="openMedicalHistory(patient)">
                <i class="bi bi-info-circle-fill"></i>
              </button>
              <button class="action-btn" [popover]="'Appointment List'" placement="top" triggers="mouseenter:mouseleave"
                (click)="toggleAppointmentRow(patient._id);$event.stopPropagation()">
                <i class="bi bi-journal-bookmark-fill"></i>
              </button>
              <button class="action-btn" [popover]="'Insurance List'" placement="top" triggers="mouseenter:mouseleave"
                (click)="toggleInsuranceRow(patient._id);$event.stopPropagation()">
                <i class="bi bi-journal-medical"></i>
              </button>
              <button class="action-btn" [popover]="'Paitnet Medical Details'" placement="top"
                triggers="mouseenter:mouseleave" (click)="redirectToMedicalHistory(patient)">
                <i class="bi bi-clock-history"></i>
              </button>
              <button class="action-btn" [popover]="'Examination Details'" placement="top"
                triggers="mouseenter:mouseleave" (click)="redirectToExaminationDetails(patient)">
                <i class="bi bi-clipboard2-pulse-fill"></i>
              </button>
              @if(userDetails?.role !== 'Doctor'){
              <button class="action-btn" title="Edit" placement="top" (click)="editPatient(patient)">
                <i class="bi bi-pencil"></i>
              </button>
              <button class="action-btn danger" title="Delete" placement="top"><i class="bi bi-trash3"></i></button>
              }
            </td>
          </tr>
          <!-- 🔹 SUB Appontments -->
          @if (expandedAppointment === patient._id) {
          <tr class="sub-row">
            <td colspan="12">
              @if (patient.appointments.length) {
              <div class="appointment-wrapper">
                <div class="vertical-sub-title">
                  Appointment List
                </div>
                <div class="clinic-grid">
                  <div class="appointment-sub-table-container">
                    <table class="appointment-sub-table w-100">
                      <thead>
                        <tr>
                          <th>Appointment No</th>
                          <th>Date</th>
                          <th>Time</th>
                          <th>Day</th>
                          <th>Type</th>
                          <th>Consulation Mode</th>
                          <th>Notes</th>
                          <th>Vital</th>
                          <th>Chief Complaint</th>
                        </tr>
                      </thead>
                      <tbody>
                        @for (appointment of patient.appointments; track appointment._id) {
                        <tr>
                          <td>
                            <div style="font-size:13px;color:var(--text-muted);">
                              {{ appointment.appointmentNumber }}
                            </div>
                          </td>
                          <td>
                            <div style="font-size:13px;color:var(--text-muted);">{{ appointment.appointmentDate |
                              date:'dd/MM/yyyy' }}</div>
                          </td>
                          <td>
                            <div style="font-size:13px;color:var(--text-muted);">
                              {{ appointment.startTime }}- {{ appointment.endTime }}
                            </div>
                          </td>
                          <td>
                            <div style="font-size:13px;color:var(--text-muted);">
                              {{ appointment.dayOfWeek }}
                            </div>
                          </td>
                          <td>
                            <div style="font-size:13px;color:var(--text-muted);">
                              {{ appointment.appointmentType }}
                            </div>
                          </td>
                          <td>
                            <div style="font-size:13px;color:var(--text-muted);">
                              {{ appointment.consultationMode }}
                            </div>
                          </td>
                          <td>
                            <div style="font-size:13px;color:var(--text-muted);" class="appt-notes">
                              {{ appointment.notes }}
                            </div>
                          </td>
                          <td>
                            <button class="action-btn" style="cursor:pointer;" [title]="'Vital Details'"
                              (click)="openVitalPopup(patient,appointment)">
                              <i class="bi bi-heart-pulse-fill"></i>
                            </button>
                          </td>
                          <td>
                            @if(userDetails?.role == 'Doctor'){
                            <button class="action-btn" (click)="recordChiefComplaint(patient,appointment);"
                              style="cursor:pointer;" [title]="'Chief Complaint'">
                              <i class="bi bi-clipboard2-pulse"></i>
                            </button>
                            }
                          </td>
                        </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              } @else {
              <div class="empty-appointment">
                <i class="bi bi-calendar-x"></i>
                No appointments found
              </div>
              }

            </td>
          </tr>
          }
          <!-- 🔹 SUB Insurance -->
          @if (expandedInsurance === patient._id) {
          <tr class="sub-row">
            <td colspan="12">
              @if (patient.insuranceDetails.length) {
              <div class="appointment-wrapper">
                <div class="vertical-sub-title">
                  Insurance List
                </div>
                <div class="clinic-grid">
                  <div class="appointment-sub-table-container">
                    <table class="appointment-sub-table w-100">
                      <thead>
                        <tr>
                          <th>Insurance Name</th>
                          <th>Provider Name</th>
                          <th>Coverage Amount</th>
                          <th>Policy Holder</th>
                          <th>Policy Number</th>
                          <th>Active</th>
                          <th>Valid From</th>
                        </tr>
                      </thead>
                      <tbody>
                        @for (clinic of patient.insuranceDetails; track clinic._id) {
                        <tr>
                          <td>
                            <div style="font-size:13px;color:var(--text-muted);">
                              {{ clinic.coverageDetails }}
                            </div>
                          </td>
                          <td>
                            <div style="font-size:13px;color:var(--text-muted);">
                              {{ clinic.providerName }}
                            </div>
                          </td>
                          <td>
                            <div style="font-size:13px;color:var(--text-muted);">{{ clinic.coverageAmount}}</div>
                          </td>
                          <td>
                            <div style="font-size:13px;color:var(--text-muted);">
                              {{ clinic.policyHolderName }}
                            </div>
                          </td>
                          <td>
                            <div style="font-size:13px;color:var(--text-muted);">
                              {{ clinic.policyNumber }}
                            </div>
                          </td>

                          <td>
                            <div style="font-size:13px;color:var(--text-muted);">
                              {{ clinic.status }}
                            </div>
                          </td>
                          <td>
                            <div style="font-size:13px;color:var(--text-muted);" class="appt-notes">
                              {{ clinic.validFrom | date : 'dd/MM/yyyy' }}
                            </div>
                          </td>
                        </tr>
                        }
                      </tbody>
                      <tfoot>
                        <tr>
                          <th colspan="2">Total Coverage Amount</th>
                          <th colspan="1">{{ getTotalCoverageAmount(patient) | number:'1.2-2' }}</th>
                          <th colspan="4"></th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
              } @else {
              <div class="empty-appointment">
                <i class="bi bi-calendar-x"></i>
                No appointments found
              </div>
              }

            </td>
          </tr>
          }
          }
          } @else {
          <tr style="border:none;">
            <td colspan="11" style="text-align:center;padding:24px;font-size:14px;color:var(--text-muted);">
              No doctors available
            </td>
          </tr>
          }
        </tbody>
      </table>
      <div class="appt-table-wrapper">
        <span class="text-muted-small">
          Showing
          {{ (currentPage - 1) * pageSize + 1 }}
          -
          {{
          Math.min(currentPage * pageSize, patientsList.length)
          }}
          of
          {{ patientsList.length }}
          patients
        </span>
        <div class="pagination-group">
          <button class="action-btn btn-pagination" (click)="previousPage()" [disabled]="currentPage === 1">
            <i class="bi bi-chevron-left"></i>
          </button>
          @for(page of pages; track page) {
          <button class="action-btn" [class.btn-pagination-active]="page === currentPage"
            [class.btn-pagination]="page !== currentPage" (click)="goToPage(page)">
            {{ page }}
          </button>
          }
          <button class="action-btn btn-pagination" (click)="nextPage()" [disabled]="currentPage === totalPages">
            <i class="bi bi-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>

  </div>
  <app-right-sidebar #medicalSidebar></app-right-sidebar>
</div>