<div class="right-sidebar-panel" [class.open]="sidebarService.isOpen()">

  <div class="rs-header d-flex align-items-center">
    @if(sidebarService.title()){
    <h3 class="rs-title mb-0">{{ sidebarService.title() }}</h3>
    }
    <button class="btn btn-sm btn-outline-danger ms-auto" (click)="sidebarService.close()">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
  <div class="rs-content">
    @if(sidebarService.content() == 'patient'){
    <app-patient-medical-history-details [patientDetails]="sidebarService.details()">
    </app-patient-medical-history-details>
    }
    @else if(sidebarService.content() == 'doctor'){
    <app-edit-doctor-details [doctorDetails]="sidebarService.details()" (saveSuccess)="onsaveSuccess($event)">
    </app-edit-doctor-details>
    }
    @else if(sidebarService.content() == 'edit-appointment'){
    <app-edit-appointment-booking [appointmentDetails]="sidebarService.details()" (saveSuccess)="onsaveSuccess($event)">
    </app-edit-appointment-booking>
    }
    @else if(sidebarService.content() == 'medicine-detail'){
    <app-medicine-details [medicineDetails]="sidebarService.details()"></app-medicine-details>
    }
    @else if(sidebarService.content() == 'patient-chief-complaint'){
    <app-chief-complaint [patientDetails]="sidebarService.details()"></app-chief-complaint>
    }
    @else if(sidebarService.content() == 'patient-vital-details'){
    <app-vital-details [patientDetails]="sidebarService.details()"></app-vital-details>
    }
  </div>
  <div class="rs-footer">
    <button class="btn btn-sm btn-outline-danger" (click)="sidebarService.close()">Dismiss</button>
  </div>
</div>